src/modeling/__pycache__
notes.md
data/video_files
.vscode
src/preprocessing/__pycache__
src/slideshow/__pycache__
src/evaluation/__pycache__
saved_runs/jonas_2_grid_gross
# saved_runs/jonas_3_grid_gross